
body {
  background-color: #F6F5FA;
}

body {
  font-family: 'Rubik', sans-serif;
}

h1 {
  color: #FC5137;
  font-family: 'Rubik', sans-serif;
  font-size: 34px;
  font-weight: semi-bold 600;
  text-align: left;
  }

h2 {
  color: #FC5137;
  font-family: 'Rubik', sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-align: left;
  }

p {
  color: #979797;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  }

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited { /* visited link */
  color: #ff7f50;
}
a:active { /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
