/*
Colors used:
Section backgrounds (off white) #F4F4F4
Section backgrounds + Menu items + Contact button + h5 (almost black) #19191A
Dark typography #19191A
Light typography #D7D7FE
Orange typography #FC5137
light shadow clr #E0E0E0
*/


/* ==============================
Medium devices (442px and larger)
================================= */
@media only screen and (min-width: 422px) {
  main {
    padding-top: 150px;
  }

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  }


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}

/* Master styles */
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
   margin: 0px;
 }

 main {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
   padding-top: 120px;
 }

/*h1-h6 and p*/
h1 {
  color: #19191A;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  }

h2 {
  color: #19191A;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  }

  p {
    color: #19191A;
    font-family: '', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    }

h3 {
  color: #19191A;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  line-height: 1.4;
}

h4 {
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  color: #19191A;
  font-weight: 300;
}

h5 {
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #19191A;
  margin: 0px 0px;
  padding: 30px;
}

h6 {
  color: #19191A;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

p {
  color: #19191A;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
  }

/* portfolio styles*/
/* projects displayed in rows in form of cards styling starts here */
.row {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 30px;
}

.card {
  padding: 20px;
}

.text-card {
  text-align: center;
}

.card img {
  width: 585px;
  height: 554px;
  border-bottom: 4px solid #19191A;
}
/* projects displayed in rows in form of cards styling ends here */

/* button styling starts here */
a {
  color: #000000;
  text-decoration: none; /* No underlining */
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  color: #979797;
}

a:active { /*selected link*/
  color: #000000;
}

a:focus {
  color: #707070;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: transparent;
  color: #000000;
  padding: 15px;
  border: 2px solid #000000;
  transition: 0.2s opacity;
}

.button:hover {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  border: 2px solid #000000;
  transition: 0.5s;
}
/* button styling ends here */

/* HEADER styling starts here */
header>.container {
  width: 100%;
  position: fixed;
}

.logo {
  max-height: 80px;
  max-width: 96px;
}

/*navbar styles */
.navbar {
  background-color: #FFFFFF;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between ;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  max-height: 110px;
  border-bottom: 4px solid #19191A;

}

.left-side {
  display: flex;
  align-items: center;
}

.navbar-wrapper > .left-side > div {
  margin-right: 30px;
  font-size: 0.9em;
  font-family: 'Montserrat', sans-serif;
}


.navbar-link-wrapper a {
  color: #979797
  text-decoration: none;
  transition: color 0.2s;
}

.navbar-link-wrapper a:hover {
  color: solid black;
}
/*nav styles ends*/

/* EMAIL ME button styling*/
.button.contact {
  display: inline-block;
  background-color: transparent;
  color: #979797;
  text-transform: uppercase;
  padding: 10px;
  border: 2px solid #979797;
}

.button.contact:hover {
  background-color: #8585B3;
  color: #ffffff;
  border: 2px solid #8585B3;
}

.arrow-top {
  display:center;
  background: transparent;
  padding:30px;
}

/* EMAIL ME button styling ends here*/
/* Footer styling starts */
footer {
  text-align: center;
  padding: 30px;
  background-color: #000000;
}

footer p{
  color: #F4F4F4;
  width: 100%;
}

footer h3{
  color: #F4F4F4;
  font-weight: 500;
}

footer h5{
  color: #979797;
}

footer a { /*selected link*/
  color: #979797;
}

.icon {
  padding:10px;
}

/*About page styling*/
.row-about {
  display: flex;
/*   flex-direction: column; */
}

.image-nm {
  max-width: 380px;
  max-height: 475px;
}

.info {
  padding-left: 10px;
}
